
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.removePadding{
  padding-left: 0px;
  padding-right: 0px;
}
.minimizePadding{
  padding: 2px;
}
.marginBottom_Div_15{
  margin-bottom: 15% !important;
}
.mousePointer{
  cursor: pointer !important;
}