.imageClass{
    width: 200px;
    height: 200px;
}
.vertical-align{
    display: flex;
    align-items: center;
}
.waitingText{
    text-align: center;
    font-weight: bold;
}
.divGaps{
    margin-bottom: 2% !important;
}